@model SqlJob.UI.Models.SqlJobData
@{
    ViewData["Title"] = "Currently Executing Jobs...";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Job Id</th>
            <th>Job Name</th>
            <th>Job StartTime</th>
            <th>Job RunningSinceHours</th>
            <th>Executing StepId</th>
            <th>Executing StepName</th>
        </tr>
        @foreach (var d in Model.Jobs)
        {
            <tr>
                <td>@d.Id</td>
                <td>@d.Name</td>
                <td>@d.StartTime</td>
                <td>@d.RunningSinceHours</td>
                <td>@d.ExecutingStepId</td>
                <td>@d.ExecutingStepName</td>

            </tr>
        }
        
    </table>

</p>

@section DebugInfo{
    <text>
        Debug Info: @Model.ConnectionString
    </text>
}
