@model SqlJob.UI.Models.SqlStepsData
@{
    ViewData["Title"] = "All Jobs";
}

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Job Id</th>
        <th>Job Name</th>
        <th>Enabled</th>
        <th>StepId</th>
        <th>StepName</th>
        <th>StepType</th>
        @*<th>StepExecutable</th>*@
        <th>
            ExecuteOnDatabase
        </th>

        <th>LastStatus</th>
        <th>LastRunDuration</th>
        <th>LastRunDate</th>
        <th>LastRunTime</th>
    </tr>
    @foreach (var d in Model.AllSteps)
    {
        <tr>
            <td>@d.Id</td>
            <td>@d.Name</td>
            <td>@d.IsJobEnabled</td>
            <td>@d.StepId</td>
            <td>@d.StepName</td>
            <td>@d.StepType</td>
            @*<td>@d.StepExecutable</td>*@
            <td>@d.ExecuteOnDatabase</td>
            <td>@d.LastStatus</td>
            <td>@d.LastRunDuration</td>
            <td>@d.LastRunDate</td>
            <td>@d.LastRunTime</td>
        </tr>
    }

</table>


@section DebugInfo{
    <text>
        Debug Info: @Model.ConnectionString
    </text>
}